[Unit]
Description=Sniproxy
After=network-online.target
Wants=network-online.target

[Service]
LimitCORE=infinity
LimitNOFILE=512000
LimitNPROC=512000
Type=forking
User=root
Restart=always
RestartSec=5s
ExecStart=/usr/sbin/sniproxy -c /etc/sniproxy.conf

[Install]
WantedBy=multi-user.target
